# 키움증권 모의투자 발급 정보
KIWOOM_MOCK_APP_KEY=your_mock_app_key
KIWOOM_MOCK_APP_SECRET=your_mock_app_secret
KIWOOM_MOCK_ACCOUNT=your_mock_account_number

# 키움증권 실전투자 발급 정보
KIWOOM_REAL_APP_KEY=your_real_app_key
KIWOOM_REAL_APP_SECRET=your_real_app_secret
KIWOOM_REAL_ACCOUNT=your_real_account_number
